@include default-config;

body {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-home {
  background-color: $background;
  a {
    text-decoration: none;
    color: white;
  }
  .title h2 {
    font-size: 24px;
    font-weight: 700;
  }
}
.header-home {
  @include display-flex-column;
  gap: 0.5px;
  .header-home-title {
    @include title;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 14px 89px 13px;
    height: 63px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }
  .location-container {
    position: relative;
    display: flex;
    gap: 17px;
    justify-content: center;
    color: $location-text;
    padding: 15px 0;
    background-color: $location-background;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;

    i {
      width: 12px;
      height: 16px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.hero {
  width: 100%;
  @include display-flex-column;
  align-items: center;
  gap: 27px;
  padding: 39px 0 57px 0;

  div {
    @include display-flex-column;
    align-items: center;

    h2 {
      font-size: 24px;
      font-weight: 700;
      width: 275px;
      height: 68px;
      text-align: center;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      width: 315px;
      height: 46px;
      text-align: center;
    }
  }
  button {
    @include hover-button;
    position: relative;
    z-index: 0;
    border: none;
    border-radius: 25px;
    background: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 218px;
    height: 50px;
    span {
      color: $button-text-color;
      font-size: 16px;
      font-weight: 500;
      width: 180.495px;
      height: 24px;
    }
  }
}

.fonctionnement {
  @include display-flex-column;
  align-items: center;
  gap: 26px;
  background-color: white;
  width: 100%;
  height: 440px;
  .fonctionnement-title {
    display: flex;
    align-self: start;
    padding: 48px 80px 0 20px;
  }
  .fonctionnement-cards-container {
    @include display-flex-column;
    gap: 25px;
    .fonctionnement-card {
      position: relative;
      @include display-flex-row;
      align-items: center;
      justify-content: center;
      background-color: $background;
      border-radius: 20px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      width: 322.486px;
      height: 72.379px;

      span {
        position: absolute;
        left: -12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $purple;
        color: $button-text-color;
        border-radius: 50%;
        width: 24px;
        height: 24px;
      }

      i {
        position: absolute;
        right: 276px;
        bottom: 28px;
        color: #7e7e7e;
      }
      #phone {
        width: 13.019px;
        height: 19.903px;
      }
      #list {
        width: 16px;
        height: 15.922px;
      }
      #market {
        color: $purple;
        width: 18px;
        height: 17.913px;
      }

      h3 {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
      }
    }
  }
}

.restaurants {
  @include display-flex-column;
  padding: 0 18px 66px 17px;

  .restaurants-title {
    padding: 54px 0 19px 3px;
  }

  .restaurants-cards-container {
    @include display-flex-column;
    width: 100%;
    gap: 18px;
    .row {
      @include display-flex-column;
      gap: 18px;
      .restaurants-cards {
        position: relative;
        .restaurants-cards-img {
          position: relative;
          border-radius: 15px 15px 0 0;
          width: 100%;
          height: 174px;
          .new {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;
            color: $dark-green;
            background: $light-green;
            position: absolute;
            right: 12px;
            top: 13px;
            border-radius: 2px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
            width: 80px;
            height: 29px;
          }
          img {
            object-fit: cover;
            object-position: bottom;
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 174px;
          }

          #resto-2-img {
            object-fit: cover;
            object-position: 40% 60%;
          }
        }
        .restaurants-cards-content {
          position: relative;
          padding: 16px 0 12px 13px;
          border-radius: 0 0 15px 15px;
          gap: 5px;
          color: black;
          background-color: white;
          width: 100%;
          height: 77px;

          h3 {
            font-size: 16px;
            font-weight: 700;
          }
          p {
            font-size: 17px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

.heart-label {
  position: absolute;
  bottom: 33px;
  right: 25px;
  width: 22px;
  height: 21px;
  cursor: pointer;

  .heart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .full {
    opacity: 0;
    z-index: 1;
  }

  .empty {
    opacity: 1;
    z-index: 2;
  }
}
@for $i from 1 through 4 {
  #resto-#{$i}:checked + .heart-label {
    .full {
      opacity: 1;
    }

    .empty {
      opacity: 0;
    }
  }
}

.footer-container {
  @include display-flex-column;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
  color: white;
  h2 {
    font-family: $logo-title-font;
    font-size: 18px;
    font-weight: 400;
  }
  .link-container {
    @include display-flex-column;
    gap: 7px;

    .link-footer a {
      @include display-flex-row;
      align-items: center;
      gap: 11px;
      h3 {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .header-home {
    .header-home-title {
      align-items: center;
      height: 96px;
      padding: 30px 0 32px 0;
      box-shadow: none;
    }
    .location-container {
      box-shadow: none;
      align-items: center;
      padding: 0;
      height: 50px;
    }
  }
  .hero {
    padding: 30px 0;
    gap: 18px;
    div {
      gap: 18px;
      h2 {
        font-size: 40px;
        width: 645px;
        height: 47px;
      }
      p {
        display: flex;
        align-items: center;
        width: 531px;
      }
    }
  }
  .fonctionnement {
    height: auto;
    padding: 50px 180px;
    gap: 25px;
    .fonctionnement-title {
      padding: 0;
    }
    .fonctionnement-cards-container {
      @include display-flex-row;
      justify-content: space-evenly;
      gap: 37px;
      width: 100%;
    }
  }
  .restaurants {
    padding: 30px 180px;
    gap: 28px;
    .restaurants-title {
      padding: 0;
    }
    .restaurants-cards-container {
      gap: 50px;
      .row {
        flex-direction: row;
        gap: 100px;

        .restaurants-cards {
          width: 100%;
          .restaurants-cards-img {
            img {
              object-position: 30% 70%;
            }
          }
        }
      }
    }
  }
  .footer-home {
    background-color: #353535;
    padding: 30px 25px;
  }
  .footer-container {
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 54px;

    h2 {
      order: 1;
    }
    .link-container {
      order: 0;
      flex-direction: row;
      .link-footer-a {
        width: 130px;
      }

      .link-footer {
        a {
          h3 {
            width: 168px;
          }
        }
      }
    }
  }
}
