.header-restaurants {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px 89px 13px 17px;
  .header-restaurants-container {
    @include display-flex-row;
    gap: 42px;
    height: 36px;
    align-items: center;
  }
  .back-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  .header-restaurants-title {
    display: flex;
    @include title;
    align-self: flex-start;
  }
}

.main-restaurants {
  .restaurants-img {
    height: 275px;
  }
}
$restaurant-bgs: (
  "menu-1": "../Images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg",
  "menu-2": "../Images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg",
  "menu-3": "../Images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg",
  "menu-4":
    "../Images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg",
);
@each $class, $image in $restaurant-bgs {
  body.#{$class} .restaurants-img {
    @include bg-img($image);
  }
}

.pricing {
  @include display-flex-column;
  gap: 40px;
  background: $background;
  position: relative;
  z-index: 2;
  margin-top: -55px;
  padding: 32px 0 40px 0;
  border-radius: 50px 50px 0 0;
  .pricing-title {
    @include display-flex-row;
    position: relative;
    padding: 0 17px;
    h2 {
      font-family: $logo-title-font;
      font-size: 28px;
      font-weight: 400;
    }
    .like-label {
      position: absolute;
      top: 8px;
      right: 41px;
      width: 22px;
      height: 21px;
      cursor: pointer;

      .like {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .full {
        opacity: 0;
        z-index: 1;
      }

      .empty {
        opacity: 1;
        z-index: 2;
      }
    }
    #resto:checked + .like-label {
      .full {
        opacity: 1;
      }

      .empty {
        opacity: 0;
      }
    }
  }
  .menu-category-container {
    @include display-flex-column;
    gap: 40px;
    padding: 0 13px;
    h3 {
      position: relative;
      font-size: 16px;
      font-weight: 300;
    }
    h3::before {
      content: "";
      position: absolute;
      background-color: #99e2d0;
      left: 1px;
      top: 24px;
      width: 40px;
      height: 3px;
    }
    .menu-category {
      @include display-flex-column;
      gap: 12px;
      .menu-category-title {
        height: 27px;
        text-transform: uppercase;
      }
      .cards-menu {
        display: flex;
        position: relative;
        box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        background-color: white;
        overflow: hidden;
        transition: 0.25s ease-out;

        .cards-menu-container {
          @include display-flex-row;
          align-items: flex-end;
          justify-content: space-between;
          flex: 1 0 0;
          padding: 15px;
          z-index: 1;
          transition: transform 0.25s ease-out;

          .cards-menu-text {
            @include display-flex-column;
            gap: 5px;
            flex: 1 1 auto;
            overflow: hidden;
            min-width: 0;

            h4 {
              font-size: 18px;
              font-weight: 500;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            p {
              font-size: 15px;
              font-weight: 300;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }

          .cards-menu-price {
            font-size: 15px;
            font-weight: 700;
            transition: transform 0.25s ease-out;
          }
        }

        svg {
          position: absolute;
          top: 0;
          right: -100%; // caché à droite
          height: 100%;
          width: 60px;
          transition: right 0.25s ease-out;
          z-index: 0;
        }

        &:hover {
          .cards-menu-text {
            flex: none;
            width: 225px;
          }
          .cards-menu-price {
            transform: translateX(-60px); // pousse vers la gauche
          }

          svg {
            right: -1px; // glisse en place
          }
        }
      }
    }
  }
  .order {
    display: flex;
    justify-content: center;
    button {
      border: none;
      border-radius: 25px;
      background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      padding: 16px 48px 15px 49px;
      transition: 0.3s ease-out;
      span {
        color: white;
        font-size: 16px;
        font-weight: 500;
      }
      &:hover {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        opacity: 0.9;
      }
    }
  }
}

.footer-container-menu {
  @include display-flex-column;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
  color: white;
  h2 {
    font-family: $logo-title-font;
    font-size: 18px;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }
  .link-container-menu {
    @include display-flex-column;
    gap: 7px;
    color: white;

    .link-footer-menu a {
      text-decoration: none;
      @include display-flex-row;
      align-items: center;
      gap: 11px;
      h3 {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  @each $class, $image in $restaurant-bgs {
    body.#{$class} .restaurants-img {
      @include bg-img-desktop($image);
    }
  }
  .header-restaurants {
    padding: 30px 621px 32px 17px;
    .header-restaurants-container {
      gap: 572px;
      align-items: flex-end;
    }
    .header-restaurants-title {
      h1 {
        height: 34px;
        width: 200px;
      }
    }
  }
  .main-restaurants {
    .restaurants-img {
      height: 400px;
      width: 100%;
    }
  }
  .pricing {
    width: 1055px;
    margin: -55px auto 0;
    align-items: center;
    .pricing-title {
      justify-content: center;
      align-items: center;
      gap: 24px;
      .like-label {
        position: relative;
        top: 0;
        right: 0;
      }
    }
    .menu-category-container {
      width: 634px;
      .menu-category {
        .cards-menu {
          height: 69px;
        }
      }
    }
  }
  .footer-menu {
    background-color: #353535;
    padding: 30px 25px;
  }
  .footer-container-menu {
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 54px;

    h2 {
      order: 1;
    }
    .link-container-menu {
      order: 0;
      flex-direction: row;
      .link-footer-a {
        width: 130px;
      }

      .link-footer-menu {
        a {
          h3 {
            width: 168px;
          }
        }
      }
    }
  }
}
