.main-restaurants {
  .restaurants-img {
    height: 275px;
    @media screen and (min-width: 1024px) {
      height: 400px;
      width: 100%;
    }
  }
}

@include menu-img;
.pricing {
  @include display-flex-column;
  gap: 40px;
  background: $background;
  position: relative;
  z-index: 2;
  margin-top: -55px;
  padding: 32px 0 40px 0;
  border-radius: 50px 50px 0 0;
  @media screen and (min-width: 1024px) {
    width: 73%;
    margin: -55px auto 0;
    align-items: center;
  }
  .pricing-title {
    @include display-flex-row;
    position: relative;
    padding: 0 0 0 17px;
    align-items: center;
    gap: 24px;
    @media screen and (min-width: 1024px) {
      padding: 0;
      justify-content: center;
      align-items: center;
      gap: 24px;
      width: 90%;
    }
    h2 {
      @media screen and (min-width: 1024px) {
        width: 307px;
      }
      width: 80%;
      font-family: $logo-title-font;
      font-size: 1.75em;
      font-weight: 400;
    }
  }
  .menu-category-container {
    @include display-flex-column;
    gap: 40px;
    padding: 0 13px;
    @media screen and (min-width: 1024px) {
      width: 634px;
    }

    h3 {
      position: relative;
      font-size: 16px;
      font-weight: 300;
    }
    h3::before {
      content: "";
      position: absolute;
      background-color: $tertiary-color;
      left: 1px;
      top: 24px;
      width: 40px;
      height: 3px;
    }
    .menu-category {
      @include display-flex-column;
      gap: 12px;
      opacity: 0;
      transform: translateY(30px);
      animation: fadeUpCategory 0.6s ease-out forwards;
      .menu-category-title {
        height: 27px;
        text-transform: uppercase;
      }
    }
  }
  @include delayed-apearenced;

  .order {
    display: flex;
    justify-content: center;
  }
}

// Desktop
@media screen and (min-width: 1024px) {
  @each $class, $image in $restaurant-bgs {
    body.#{$class} .restaurants-img {
      @include bg-img-desktop($image);
    }
  }
}
