$logo-title-font: "Shrikhand", serif;
$main-font: "Roboto", sans-serif;

// -----**** colors ****-----
$primary-color: black;
$secondary-color: #9356dc;
$tertiary-color: #008766;
$light-green: #99e2d0;

// -----**** Location-colors ****-----
$location-text: #353535;
$location-background: #eaeaea;

// -----**** Button ****----
$button-text-color: white;
$button-linear-bg: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
// linear-gradient(358deg, #9356dc -11.44%, #ff79da 123.93%)

// -----**** Background ****----
$background: #f6f6f6;
