.fonctionnement-card {
  position: relative;
  @include display-flex-row;
  align-items: center;
  justify-content: center;
  background-color: $background;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  // width: 322.486px;
  height: 72.379px;

  span {
    position: absolute;
    left: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    color: $button-text-color;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }

  i {
    position: absolute;
    right: 276px;
    bottom: 28px;
    color: #7e7e7e;
  }
  #phone {
    width: 13.019px;
    height: 19.903px;
    bottom: 25px;
  }
  #list {
    width: 16px;
    height: 15.922px;
  }
  #market {
    color: $secondary-color;
    width: 18px;
    height: 17.913px;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
}

@media screen and (min-width: 320px) {
  .fonctionnement-card {
    width: 274px;
  }
}

@media screen and (min-width: 375px) {
  .fonctionnement-card {
    width: 322.486px;
  }
}
