.like-label {
  position: absolute;
  top: 8px;
  right: 41px;
  width: 22px;
  height: 21px;
  cursor: pointer;
  @media screen and (min-width: 1024px) {
    position: relative;
    top: 0;
    right: 0;
  }

  .like {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-out;
  }

  .full {
    opacity: 0;
    z-index: 1;
  }

  .empty {
    opacity: 1;
    z-index: 2;
  }
}
#resto:checked + .like-label {
  .full {
    opacity: 1;
  }

  .empty {
    opacity: 0;
  }
}
