@keyframes fadeUpCategory {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes checkRestaurant {
  from {
    width: 293px;
  }
  25% {
    width: 292px;
  }
  50% {
    width: 290px;
  }
  75% {
    width: 285px;
  }
  100% {
    width: 280px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  @keyframes checkRestaurant {
    from {
      width: 250px;
    }
    25% {
      width: 220px;
    }
    50% {
      width: 210px;
    }
    75% {
      width: 200px;
    }
    100% {
      width: 160px;
    }
  }

  @keyframes checkRestaurantReverse {
    from {
      width: 160px;
    }
    25% {
      width: 200px;
    }
    50% {
      width: 210px;
    }
    75% {
      width: 220px;
    }
    100% {
      width: 250px;
    }
  }
}

@keyframes checked-restaurant-text {
  to {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    display: none;
    transform: rotate(360deg);
  }
}

@keyframes hideLoader {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes showContent {
  to {
    opacity: 1;
    visibility: visible;
  }
}
